.SearchButton
{
position: relative;
z-index: 2;
background: transparent;
border: none;
border-radius: 50%;
padding:0px;    
}

.magnifierGlassImage{
    background: transparent;
    border: none;
}

.SearchImage
{
pointer-events: none;
position: relative;
z-index: 1;
object-fit: cover;
width: 10em;
border-radius:50%;
margin-bottom: 2em;
box-shadow: 1px 1px 10px black;
}

body{

    background-image: linear-gradient(to right, #004a4f, #0a4f53, #135458, #1a5a5c, #215f61, #346b69, #457671, #568279, #759788, #95ac9a, #b4c2ae, #d3d8c5);

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

}

#fade-button{
    color: white;
}

form{
    margin-top: 5em;
    margin-bottom: 2em;
}

.searchInput{
    min-width: 75%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid black;
    box-shadow: 1px 1px 8px gray;
}

.inputFieldWrapper{
    display: flex;
    flex-direction: row;
}
