.SearchButton
{
position: relative;
z-index: 2;
background: transparent;
border: none;
border-radius: 50%;
padding:0px;    
}

.magnifierGlassButton{
    position: absolute;
    background: transparent;
    border: none;
    width: 10%;
    right: 5px;
    top: 1px;
}


.SearchImage
{
pointer-events: none;
position: relative;
z-index: 1;
object-fit: cover;
width: 10em;
/* border-radius:50%; */
margin-bottom: 2em;
filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.484));
            width:200px;
            height:200px;
/* box-shadow: 1px 1px 10px black; */
}

body{

    background-image: linear-gradient(to right, #004a4f, #0a4f53, #135458, #1a5a5c, #215f61, #346b69, #457671, #568279, #759788, #95ac9a, #b4c2ae, #d3d8c5);

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

}

.DialogBox{
    background-color: #d3d8c5;
    color: black;
}
#TextColorBlack{
    color: black;
}

#TextColorPetrol{
    color: #004a4f;
}

#fade-button{
    color: white;
}

form{
    margin-top: 5em;
    margin-bottom: 2em;
}

.searchInput{
    padding: 0.5em;
    background: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
}

.searchInput:focus{
    padding: 0.5em;
    background: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
}

.inputFieldWrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-items: flex-end; */
    height: 2em;
    max-width: 100%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #d3d8c5;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 2em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);

}

/* .card{

    display: flex;
} */

.Card{
    margin-bottom: 2em;
}

.embedPlayerClass{
    background-color: ghostwhite;
}

.spotifyNotFound{
    background-color: ghostwhite;
    height: 80px;
    border-radius: 0em 0em 8px 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    color: rgb(128, 128, 128);
    font-size: large;
}

#fade-button{
    font-size: small;

}

#menuItem{
    font-size: small;

}










@media screen and (max-width: 600px) {
    body {

    }

    #coverImage {
        width: 100px;
    }
    
    #contentBox {
        padding: 2em 0em 0em 2em;
    }

    html
     {
        font-size: 10px;
    }


    .SearchImage
{
            width:150px;
            height:150px;
}

.inputFieldWrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 2em;

}

.magnifierGlassButton{
    background: transparent;
    border: none;
}

.SearchIcon {
    width: 100px;
    font-size: large;
}

.searchInput{
    background: transparent;
    border: none;
    outline: none;
    /* flex-grow: 0.2; */
    font-size: large;
    width: 80%;
}

.searchInput:focus{
    background: transparent;
    border: none;
    outline: none;
    /* flex-grow: 0.2; */
    font-size: large;
    width: 80%;


}
#fade-button{
    font-size: medium;

}

#menuItem{
    font-size: medium;

}



#alert-dialog-description{
    font-size: medium;
}
#TextColorBlack{
    font-size: medium;
}
#TextColorPetrol{
    font-size: medium;
}
#alert-dialog-title{
    font-size: medium;
}


    /* div#main {
        font-size: 3vw;
    } */

}
