.container {
    /* border: 1px solid red; */
}

.text-centered {
    text-align: center;
}

.SpotifyLogo{
    width: 20;
    height: auto;
}

#coverImage {
    width: 151px;
}

@media only screen and (max-device-width: 600px) {
    #coverImage {
        width: 100px;
    }
    
    #contentBox {
        padding: 2em 5em 0em 2em;
    }

    html
     {
        font-size: 10px;
    }
}
